@page
@using PoliciesManagementResources = UserManagement.Localization.PoliciesManagement.PoliciesManagement
@using SharedResources = Common.Localization.Shared.Shared
@model BigBizInsurance.Web.Areas.UserManagementAdmin.Pages.Policies.CreateModel
@{
     
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>@PoliciesManagementResources.Create_FormTitle </h2>
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>

                <form method="post">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>
                                @PoliciesManagementResources.FormPolicyName <span class="required">*</span>
                            </label>

                        </div>
                        <div class="col-md-10 mb-3">
                            <input type="text" asp-for="Input.Name" class="form-control ">
                            <small>@PoliciesManagementResources.msg_DontWriteSpaces</small>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>
                                @PoliciesManagementResources.FormRoles <span class="required">*</span>
                            </label>

                        </div>
                        <div class="col-md-10 mb-3">
                            @foreach (var role in Model.RolesList)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="Input.SelectedRoleIds" value="@role.Id" class="flat"> @role.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <button type="submit" asp-page-handler="Submit" class="btn btn-success">@SharedResources.Save</button>
                    <button class="btn btn-primary" type="reset">@SharedResources.Reset</button>
                    <button type="submit" asp-page-handler="Cancel" formnovalidate="formnovalidate" class="btn btn-primary">@SharedResources.BackToList</button>

                </form>
            </div>
        </div>
    </div>
</div>

