@page
@using UsersResources = UserManagement.Localization.Users.UsersResources
@using _Layout = BigBizInsurance.Web.Localization._Layout._Layout
@using SharedResources = Common.Localization.Shared.Shared
@model EmailModel
@{
    ViewData["Title"] = UsersResources.EditMyEmail;
    Layout = "_LayoutIdentity";
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<h4 class="text-dark mb-5">@UsersResources.EditMyEmail</h4>
<form id="account" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="form-group col-md-12 mb-4">
            @if (Model.IsEmailConfirmed)
            {
                <input asp-for="Email" class="form-control input-lg" disabled placeholder="@(UsersResources.Email)" />
                <span asp-validation-for="Email" class="text-danger"></span>

            }
            else
            {
                <input asp-for="Email" class="form-control  input-lg" disabled  placeholder="@(UsersResources.Email)"/>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
            }
        </div>
        <div class="form-group col-md-12 ">

            <input asp-for="Input.NewEmail" placeholder="@(UsersResources.NewEmail)" class="form-control input-lg" />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <button type="submit" asp-page-handler="ChangeEmail" class="btn btn-lg btn-primary btn-block mb-4">@UsersResources.EditMyEmail</button>

            <p>

                <a class="text-blue" asp-page="/Index" asp-area="">
                    <span>@SharedResources.BackToHomePage</span>
                </a>

            </p>
        </div>
    </div>
</form>

