@page
@using Common.Localization.Shared
@using CrossCutting.Core.Globalization
@using UsersManagementResources = UserManagement.Localization.UsersManagement.UsersManagement;
@using SharedResources = Common.Localization.Shared.Shared;
@model BigBizInsurance.Web.Areas.UserManagementAdmin.Pages.Users.IndexModel
@{
     
}


<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>@UsersManagementResources.Index_SearchFormTitle</h2>
            </div>
            <div class="card-body">
                <form id="frm_Search" method="post">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>   @UsersManagementResources.Index_SearchFormFullName</label>
                        </div>
                        <div class="col-md-10 mb-3">
                            <input id="txt_Name" type="text" name="name" class="form-control ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>   @UsersManagementResources.Index_SearchFormUserName</label>
                        </div>
                        <div class="col-md-10 mb-3">
                            <input id="txt_UserName" type="text" name="userName" class="form-control ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>   @UsersManagementResources.Index_SearchFormEmail</label>
                        </div>
                        <div class="col-md-10 mb-3">
                            <input id="txt_Email" type="text" name="email" class="form-control ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label>   @UsersManagementResources.Index_SearchFormPhone</label>
                        </div>
                        <div class="col-md-10 mb-3">
                            <input id="txt_Phone" type="text" name="phoneNumber" class="form-control ">
                        </div>
                    </div>
         
                    <button id="btn_Search" type="submit" class="btn btn-success">@SharedResources.Search</button>
                    <button id="btn_Reset" type="button" class="btn btn-primary">@SharedResources.Reset</button>
                    <button type="submit" asp-page-handler="Cancel" formnovalidate="formnovalidate" class="btn btn-primary">@SharedResources.BackToHomePage</button>

                    <partial name="_AuthorizedLink" model="@(new AuthorizedLinkViewModel(UserManagementNavConstants.Area,UserManagementNavConstants.Pages.UserCreate,null,UsersManagementResources.Index_SearchFormNewUserLink,"<i class='mdi mdi-plus-circle'></i>"))" />


                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>@UsersManagementResources.Index_ListTitle </h2>
            </div>
            <div class="card-body">
                <div class="col-md-12 col-sm-12 ">

                    <div id="TableContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JTableStaticFiles{
    <partial name="_JTableStaticFiles" />
}
@section Scripts{
    <script type="text/javascript" src="/Globalization/Resources/v1.1/UserManagement.Localization/UserManagement.Localization.Users.UsersResources/@CultureHelper.CurrentCultureName/javascript/"></script>
    <script type="text/javascript" src="/Globalization/Resources/v1.1/UserManagement.Localization/UserManagement.Localization.UsersManagement.UsersManagement/@CultureHelper.CurrentCultureName/javascript/"></script>
    <script src="~/ClientApp/UserManagementAdmin/Users/app.userIndex.js"></script>
    <script>

         var initialData = {
                urlListAction: '@Url.Page("/Users/Index", "Search" ,new {area= "UserManagementAdmin" })',
                detailsBaseUrl: '@Url.Page("/Users/Display", "" ,new {area= "UserManagementAdmin" })',
                editBaseUrl: '@Url.Page("/Users/Edit", "" ,new {area= "UserManagementAdmin" })',
                deleteBaseUrl: '@Url.Page("/Users/Index", "Delete" ,new {area= "UserManagementAdmin" })',
                changePasswordBaseUrl: '@Url.Page("/Users/ChangePassword", "" ,new {area= "UserManagementAdmin" })',
                changeActivationUrl: '@Url.Page("/Users/Index", "ChangeActivation")'
            };

            $app.userIndex.Init(initialData);

    </script>
}