@using CrossCutting.Core
@using Common.Localization.Shared
@using SharedResources = Common.Localization.Shared.Shared
@using _Layout = BigBizInsurance.Web.Localization._Layout._Layout
@using UserManagement.Application.Extensions
@using CrossCutting.Core.Globalization

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sleek Dashboard - Free Bootstrap 4 Admin Dashboard Template and UI Kit. It is very powerful bootstrap admin dashboard, which allows you to build products like admin panels, content management systems and CRMs etc.">

    <title>@_Layout.SystemName | @ViewBag.Title</title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="~/NewTemplateManagement/dist/assets/plugins/nprogress/nprogress.css" rel="stylesheet" />

    <script src="~/NewTemplateManagement/dist/assets/plugins/jquery/jquery.js"></script>

    <!-- No Extra plugin used -->
    @if (CultureHelper.IsArabic)
    {
        <script>$('html').attr('dir', 'rtl');</script>
        <link id="sleek-css" rel="stylesheet" href="~/NewTemplateManagement/dist/assets/css/sleek.rtl.css" />
    }
    else
    {
        <script>$('html').attr('dir', 'ltr');</script>
        <link id="sleek-css" rel="stylesheet" href="~/NewTemplateManagement/dist/assets/css/sleek.css" />
    }


    <link href="~/NewTemplateManagement/dist/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



    <link href="~/NewTemplateManagement/dist/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <link href="~/NewTemplateManagement/dist/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <!-- FAVICON -->
    <link href="~/NewTemplateManagement/dist/assets/img/favicon.png" rel="shortcut icon" />

    <!--
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/NewTemplateManagement/dist/assets/plugins/nprogress/nprogress.js"></script>
    <style>
        #lang-switcher {
            margin: 1px 11px 1px 11px;
        }
    </style>
</head>

<body class="" id="body">
    <div class="container d-flex flex-column justify-content-between vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-5 col-lg-6 col-md-10">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="app-brand">
                            <a href="/index.html">
                                <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                                     viewBox="0 0 30 33">
                                    <g fill="none" fill-rule="evenodd">
                                        <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                                        <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                                    </g>
                                </svg>
                                <span class="brand-name">@_Layout.SystemName</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pl-0">
            <p>
                &copy; <span id="copy-year">@DateTime.Now.Year</span> Copyright @_Layout.SystemName

            </p>
        </div>
    </div>

    <script type="text/javascript" src="/Globalization/Resources/v1.1/Common.Localization/Common.Localization.Shared.Shared/@CultureHelper.CurrentCultureName/javascript/"></script>

    <script src="~/ClientApp/Shared.js"></script>
    <script src="~/ClientApp/app.main.js"></script>
    <script src="~/ClientApp/Localization.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
